<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body class="dark-green garamond links-dark-green bg-washed-green">
    {%- include header.html -%}
    <main aria-label="Content">
      {{ content }}
    </main>
    {%- include footer.html -%}
    {% include link-previews.html %}
    <script src="{{ "/assets/js/d3.v6.min.js" | relative_url }}" defer></script>
    <script src="{{ "/assets/js/scripts.js" | relative_url }}" defer></script>
  </body>
</html>