---
layout: default
---

<ul>
{% for note in site.notes %}
  <li>
    <a href="{{ note.url }}">{{ note.title }}</a>
  </li>
{% endfor %}
</ul>

<section>
{% for note in site.notes %}
  <div class="post_excerpt">
    <article>
      <h2 itemprop="headline">
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ note.title }}</a>
      </h2>
      <p class="excerpt" itemprop="description"><em>{% if post.excerpt %}
        {{ note.excerpt | markdownify | strip_html }}
      {% else %}
        {{ note.content | markdownify | strip_html | truncate: 160 }}     
      {% endif %}</em></p>
    </article>
  </div>
{% endfor %}
</section>
